<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layouts/layout}">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>서비스등록</title>
  <style type="text/css">
  	.table td {
	    padding: 0.45rem;
	}
  </style>
</head>
<div layout:fragment="content" th:remove="tag">
  <!-- page content -->
  <div class="right_col" role="main" id="SVC001M">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>서비스등록</h3>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_content" style="padding: 0 3px 0px;">
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3" for="first-name">서비스 ID/명
                <!-- <span class="required">*</span> --></label>
              <div class="col-md-9 col-sm-9 ">
                <input type="text" id="svcId" required="required" class="form-control" v-model="svcId">
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <!-- <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3" for="second-name">아이디/명</label>
              <div class="col-md-9 col-sm-9 ">
                <input type="text" id="second-name" required="required" class="form-control  ">
              </div>
            </div> -->
          </div>

          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;"></div>

          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="text-right">
              <button type="button" class="btn btn-secondary" @click="getSearch">조회</button>
              <button type="button" class="btn btn-secondary" @click="setSave">저장</button>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 col-sm-12 " style="padding-right: 5px;padding-left: 5px;">
        <div class="x_panel">
          <div class="x_title">
            <h2>조회</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"></a></li>
              <!-- <li><a class="close-link"><i class="fa fa-plus-square"></i></a> -->
              <li><button type="button" class="btn btn-secondary" @click="addRow">+</button></li>
              <li><button type="button" class="btn btn-secondary" @click="deleteRow">-</button></li>
              <li><button type="button" class="btn btn-secondary">초기화</button></li>
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                    class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Settings 1</a>
                  <a class="dropdown-item" href="#">Settings 2</a>
                </div>
              </li> -->
              <!-- <li><a class="close-link"><i class="fa fa-close"></i></a> -->
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-sm-12">
                <div class="card-box table-responsive">
                  <!-- <p class="text-muted font-13 m-b-30">
                      DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>
                    </p> -->
                  <!-- <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" -->
                  <table id="svcMng" class="table table-striped table-bordered"
                    style="width:100%;text-align: center;">
                    <thead>
                      <tr>
                        <!-- <th>
                        <th><input type="checkbox" id="check-all"></th>
                        </th> -->
                        <th><input type="checkbox" id="check-all"></th>
                        <th>서비스아이디</th>
                        <th>서비스명</th>
                        <th>패키지경로</th>
                        <th>사용여부</th>
                        <th>서비스DAO</th>
                        <th>쿼리XML</th>
                        <th style="width: 100px;">등록자</th>
                        <th style="width: 150px;">등록일시</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(row, index) in svcList" style="height:20px">
                        <td style="vertical-align: middle;"><input type="checkbox" id="check-all" v-model="checkVal" :value="index"></td>
                        <!-- <input type="checkbox" id="check-all" v-model="checkVal" :value="index"> -->
                        <td><input type="text" id="svcId" v-model="row.svcId" class="form-control" /></td>
                        <td><input type="text" id="svcNm" v-model="row.svcNm" class="form-control" /></td>
                        <td><input type="text" id="pakPath" v-model="row.pakPath" class="form-control" /></td>
                        <td><input type="text" id="useYn" v-model="row.useYn" class="form-control" /></td>
                        <td><input type="text" id="svcDao" v-model="row.svcDao" class="form-control" /></td>
                        <td><input type="text" id="svcXml" v-model="row.svcXml" class="form-control" /></td>
                        <td style="vertical-align: middle;">{{ row.updId }}</td>
                        <td style="vertical-align: middle;">{{ row.updDtm }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                  <div class="dataTables_paginate paging_simple_numbers">
                   <ul class="pagination" ref="template" v-html="template">
                       <!-- <li class="paginate_button previous disabled">
                        <a href="#" aria-controls="datatable-checkbox" data-dt-idx="0" tabindex="0">Previous</a>
                      </li>
                      <li class="paginate_button active">
                        <a href="#" aria-controls="datatable-checkbox" data-dt-idx="1" tabindex="0">1</a>
                      </li>
                      <li class="paginate_button next disabled">
                        <a href="#" aria-controls="datatable-checkbox" data-dt-idx="2" tabindex="0">Next</a>
                      </li> -->
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const SVC001M = new Vue({
      el: "#SVC001M",
      data: {
        svcList: [
          /* { svcId: "Mnu001Service", svcNm: "메뉴관리서비스", useYn: "Y", svcDao: "Mnu001DAO", svcXml: "Mnu001", updId: "user", updDtm: "" },
          { svcId: "Usr001Service", svcNm: "사용자관리서비스", useYn: "Y", svcDao: "Usr001DAO", svcXml: "Usr001", updId: "user", updDtm: "" },
          { svcId: "Usr002Service", svcNm: "사용자권한관리서비스", useYn: "Y", svcDao: "Usr002DAO", svcXml: "Usr002", updId: "user", updDtm: "" },
          { svcId: "Svc001Service", svcNm: "서비스등록서비스", useYn: "Y", svcDao: "Svc001DAO", svcXml: "Svc001", updId: "user", updDtm: "" },
          { svcId: "Mnu001Service", svcNm: "메뉴관리서비스", useYn: "Y", svcDao: "Mnu001DAO", svcXml: "Mnu001", updId: "user", updDtm: "" },
          { svcId: "Usr001Service", svcNm: "사용자관리서비스", useYn: "Y", svcDao: "Usr001DAO", svcXml: "Usr001", updId: "user", updDtm: "" },
          { svcId: "Usr002Service", svcNm: "사용자권한관리서비스", useYn: "Y", svcDao: "Usr002DAO", svcXml: "Usr002", updId: "user", updDtm: "" },
          { svcId: "Svc001Service", svcNm: "서비스등록서비스", useYn: "Y", svcDao: "Svc001DAO", svcXml: "Svc001", updId: "user", updDtm: "" },
          { svcId: "Mnu001Service", svcNm: "메뉴관리서비스", useYn: "Y", svcDao: "Mnu001DAO", svcXml: "Mnu001", updId: "user", updDtm: "" },
          { svcId: "Usr001Service", svcNm: "사용자관리서비스", useYn: "Y", svcDao: "Usr001DAO", svcXml: "Usr001", updId: "user", updDtm: "" },
          { svcId: "Usr002Service", svcNm: "사용자권한관리서비스", useYn: "Y", svcDao: "Usr002DAO", svcXml: "Usr002", updId: "user", updDtm: "" },
          { svcId: "Svc001Service", svcNm: "서비스등록서비스", useYn: "Y", svcDao: "Svc001DAO", svcXml: "Svc001", updId: "user", updDtm: "" } */
        ],
        checkVal: [],
        result: [],
        mnuId: "SVC001",
        svcId: "",
        common: {
        	totalCount: 0,
        	pageSize: 10,
        	navPage: 10,
        	currentPage: 1
        },
        template : ``
      },
      mounted() {
    	 console.log("common >> "+this.common);
    	 //const pageInfo = this.setPageInfo(this.common);
    	  
    	  // 데이터조회
    	 //this.getSearch(pageInfo);
    	 
      },
      computed: {
      },
      methods: {
        getSearch: function() {
        	this.svcList.splice(1,1);
        	this.svcList = [];
          	console.log("111111111 > " + this.svcId);
          	const data = {
            	mnuId: this.mnuId,
            	svcId: this.svcId,
            	pageSize: this.common.pageSize,
            	currentPage: this.common.currentPage
          	};
			axios.post('/jjp/svcList', data, {
				headers: { "Content-Type": "application/json"}
	            }).then((res) => { 
	            	$(".odd").html("");
	                this.svcList = res.data; 
	                console.log("222222 > " + this.svcList);
	                this.common.totalCount = this.svcList[0].totCnt;
	                this.pagingNavi(this.common);
	            }).catch((ex) => { 
	                console.log("에러", ex); 
	        });
        },
        addRow: function() {
        	console.log("111111111 > " + this.svcList.length + " : " +this.checkVal);

        	this.svcList.push(
        			{ svcSeq: "", svcId: "", svcNm: "", useYn: "", svcDao: "", svcXml: "", updId: "", updDtm: "", rowStatus: "C" }	
        	)
        	/* $("#svcMng>tbody").append("<tr>");
        	$("#svcMng>tbody").append("<td style='vertical-align: middle;'><input type='checkbox' id='check-all' v-model='checkVal'></td>");
        	$("#svcMng>tbody").append("<td><input type='text' id='svcId' v-model='svcList.svcId' class='form-control' /></td>");
        	$("#svcMng>tbody").append("<td><input type='text' id='svcNm' v-model='svcList.svcNm' class='form-control' /></td>");
        	$("#svcMng>tbody").append("<td><input type='text' id='pakPath' v-model='svcList.pakPath' class='form-control' /></td>");
        	$("#svcMng>tbody").append("<td><input type='text' id='useYn' v-model='svcList.useYn' class='form-control' /></td>");
        	$("#svcMng>tbody").append("<td><input type='text' id='svcDao' v-model='svcList.svcDao' class='form-control' /></td>");
        	$("#svcMng>tbody").append("<td><input type='text' id='svcXml' v-model='svcList.svcXml' class='form-control' /></td>");
        	$("#svcMng>tbody").append("<td></td>");
        	$("#svcMng>tbody").append("<td></td>");
        	$("#svcMng>tbody").append("</tr>"); */
        },
        deleteRow: function() {
        	if(this.checkVal.length === 0) alert("삭제할 행을 선택해주세요.");
        	console.log("33333333333 > " +this.checkVal);
        	for(var i=0; i < this.checkVal.length; i++) {
       		  	console.log('array index: ' + this.checkVal[i]);
       			this.svcList.splice(this.checkVal[i], 1);
       		}
        },
        setSave: function() {
        	//this.svcList = [];
          	//console.log("111111111 > " + this.svcList.length + " : " +this.svcList.filter(svcList => svcList.rowStatus === "C") + " : " +this.checkVal);
          	const data = this.svcList.filter(svcList => svcList.rowStatus === "C");
          	console.log(data);
			axios.post("/svc/svcSave", data, {
				headers: { "Content-Type": "application/json"}
	        }).then((res) => { 
	                console.log("222222 > " + res);
	                this.getSearch();
	        }).catch((ex) => { 
	                console.log("에러", ex); 
	        });
        },
        setPageInfo: function(comm){
        	const pageInfo = {
        			pageSize: comm.pageSize,
        			navPage: comm.navPage,
                	currentPage: comm.currentPage
        	}
			return pageInfo;        	
        },
        setMove: function(curPage){
        	console.log("curPage >> " +curPage);
        	this.common.currentPage = curPage;
        	this.getSearch();
        },
        pagingNavi: function(pageInfo){
        	const totalPage = Math.ceil(this.common.totalCount / pageInfo.pageSize);	// 총 페이지 수
        	const pageGroup = Math.ceil(pageInfo.currentPage / pageInfo.navPage);			// 페이지 그룹
        	
        	let last = pageGroup * pageInfo.navPage;	// 화면에 보여질 마지막 페이지 번호
        	if(last > totalPage){
        		last = totalPage;
        	}
        	
        	const first = last - (pageInfo.navPage - 1) < 0 ? 1 : last - (pageInfo.navPage - 1); // 화면에 보여질 첫번째 페이지 번호
        	
        	const forFront = 1;
        	const prev = first - 1;
        	const next = last + 1;
        	const rearMost = totalPage;
        	
        	console.log("totalPage >> " +totalPage);
        	console.log("forFront >> " +forFront);
        	console.log("first >> " +first);
        	console.log("prev >> " +prev);
        	console.log("pageInfo.currentPage >> " +pageInfo.currentPage);
        	console.log("next >> " +next);
        	console.log("last >> " +last);
        	console.log("rearMost >> " +rearMost);
        	
        	let innerHtml = "";
        	const selBoolean = true;
        	
        	// 맨앞, 이전 Set
        	if(prev > 0){
        		selBoolean ? innerHtml += "<li class='paginate_button previous'><a href='#' @click='setMove("+forFront+")' aria-controls='datatable-checkbox' data-dt-idx='0' tabindex='0'> << </a></li>" : innerHtml += "";
        		innerHtml += "<li class='paginate_button previous'><a href='#' @click='setMove("+pre+") data-dt-idx='"+pre+"' aria-controls='datatable-checkbox'>Previous</a></li>";
        	}
        	
        	// 페이지 Set
        	for(let i=first; i<=last; i++){
	        	if(pageInfo.currentPage === i){
	        		innerHtml += "<li class='paginate_button active'><a href='javascript:setMove("+i+")' aria-controls='datatable-checkbox' data-dt-idx='"+i+"' tabindex='0'>"+i+"</a></li>";
	        	}else{
	        		innerHtml += "<li class='paginate_button'><a href='javascript:setMove("+i+")' aria-controls='datatable-checkbox' data-dt-idx='"+i+"' tabindex='0'>"+i+"</a></li>";
	        	}
        	}
        	
        	// 다음, 맨뒤 Set
        	if(pageInfo.currentPage < last || last < totalPage){
        		innerHtml += "<li class='paginate_button next'><a href='#' @click='setMove("+next+")' data-dt-idx='"+next+"' aria-controls='datatable-checkbox'>Next</a></li>";
        		selBoolean ? innerHtml += "<li class='paginate_button next'><a href='#' @click='setMove("+rearMost+")' aria-controls='datatable-checkbox' data-dt-idx='"+rearMost+"' tabindex='0'> >> </a></li>" : innerHtml += "";
        	}
        	
        	// 페이지 생성
        	//$("#pagination").empty();
        	//$("#pagination").html(innerHtml);
        	this.template = innerHtml;
        }
        
        // checkVal() {
        //   console.log("11 >> " +this.value);
        // }
        // move(id){
        //     window.location.href = "/com/"+id;
        // },
        // getClass(menuId) {
        //   // console.log("111111111 > " + menuId);
        //   return menuId == 'USER000M' ? 'fa fa-user' : 'fa fa-bars';
        // }
      }
    });
  </script>
</div>

</html>