<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>채소 팜</title>
</head>
<div layout:fragment="content" th:remove="tag">
  <!-- page content -->
  <div class="right_col" role="main" id="FAM001M" style="margin-top:0px;padding: 60px 20px 0;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>채소 팜</h3>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_content" style="padding: 0 3px 0px;">
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3" for="first-name">채소 명 <!-- <span class="required">*</span> --></label>
              <div class="col-md-9 col-sm-9 ">
                <input type="text" id="searchVegetFarmId" required="required" class="form-control"  v-model="searchVegetFarmId">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="second-name">사용여부</label>
              <div class="col-md-9 col-sm-9">
              	<select id="searchUseYn" class="form-control" v-model="searchUseYn">
					<option v-for="select in useYn" :value="select.code">{{ select.value }}</option>
				</select>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;"></div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="text-right">
              <button type="button" class="btn btn-secondary" @click="selectList">조회</button>
              <button type="button" class="btn btn-secondary" @click="setSave">저장</button>
            </div> 
          </div>
        </div>
      </div>


      <div class="col-md-12 col-sm-12 " style="padding-right: 5px;padding-left: 5px;">
        <div class="x_panel" style="padding: 1px 17px;">
          <div class="x_title">
            <h2>조회</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"></a></li>
              <li><button type="button" class="btn btn-secondary" @click="addRow">+</button></li>
              <li><button type="button" class="btn btn-secondary" @click="deleteRow">-</button></li>
              <li><button type="button" class="btn btn-secondary" @click="init">초기화</button></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive">
                  	<div class="col-sm-5">
	                  <div id="datatable-checkbox_info">총건수 : {{farmList.length}} 건</div>
	                </div>
                    <table id="menuMng" class="table table-striped table-bordered" style="width:100%;">
                      <thead>
                        <tr>
						  <th class="th_small" style="width:2%;">No.</th>
                          <th class="th_small" style="width:2%;">상태</th>
                          <th class="th_small" style="width:2%;"><input type="checkbox" v-model="allChecked" @click="checkedAll($event.target.checked)"></th>
                          <th class="th_large">팜코드</th>
                          <th class="th_large">작물아이디</th>
                          <th class="th_large">작물명</th>
                          <th class="th_large">작물상태</th>
                          <th class="th_middle">작물체크코드</th>
                          <th class="th_middle">실시간체크일시</th>
                          <th class="th_middle">사용여부</th>
                          <th class="th_large">등록자</th>
                          <th class="th_large">등록일시</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(row, index) in farmList">
                          <td class="td_small" style="vertical-align: middle;width:2.5%;">{{ param.curPage + index + 1 }}</td>
                          <td class="td_small" style="width:2.22%;">{{ row.rowStatus == 'R' || row.rowStatus == '' ? '' : row.rowStatus }}</td>
                          <td class="td_small" style="vertical-align: middle;width:2.2%;">
							  <input type="checkbox" :id="'check_' + row.cropSeq" :value="row.cropSeq" v-model="row.selected" @change="selected($event)">
						  </td>
                      	  <td class="td_large"><input type="text" id="farmCd" v-model="row.farmCd" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large"><input type="text" id="cropId" v-model="row.cropId" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large left_aling"><input type="text" id="cropNm" v-model="row.cropNm" class="form-control" @blur="watch(index)"/></td>
                          <td class="td_large"><input type="text" id="cropSttus" v-model="row.cropSttus" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large"><input type="text" id="cropCheckCd" v-model="row.cropCheckCd" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large"><input type="text" id="realDateTime" v-model="row.realDateTime" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_middle" style="vertical-align: middle;"><input type="checkbox" id="useYn" v-model="row.useYn"  @change="watch(index)" true-value="Y" false-value="N"/></td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updId }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updDtm }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
					<div class="dataTables_length" style="margin-top: -3px;">
						<label>Show 
							<select aria-controls="datatable" class="form-control input-sm" style="width: auto;display: inherit;height: auto;" 
								@change="changePageSize(selectVal)" v-model="selectVal">
								<option :value="5">5</option>
								<option :value="10">10</option>
								<option :value="25">25</option>
								<option :value="50">50</option>
								<option :value="100">100</option>
							</select>
						</label>
					</div> 
				</div>
                <div class="col-sm-7" ref="paging"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  const MENU001M = new Vue ({
      el: "#FAM001M",
      data: {
        farmList: [],
        farmListCopy: [],
        checkVal: [],
        allChecked : false,
        result: [],
        mnuId: "FAM001M",
        menuId: "",
        searchVegetFarmId: "",
        searchUseYn: "",
        useYn: [
        	 {value: "전체", code: ""}
        	,{value: "사용", code: "Y"}
        	,{value: "미사용", code: "N"}
        ],
        param: {},
        selectVal: "10"
      },
      computed: {
      },
      mounted() {
      	this.param.menuId = this.mnuId;
		this.param.searchVegetFarmId = this.searchVegetFarmId;
	    this.param.searchUseYn = this.searchUseYn;
	    this.param.pageSize = pagination.common.pageSize;
	    this.param.curPage = pagination.common.curPage;
      },
      methods: {
		  	checkedAll(checked) {
	            this.allChecked = checked
	            for (let i in this.farmList) {
	                this.farmList[i].selected = this.allChecked;
	            }
	        },
	        selected (e) {
	            for (let i in this.farmList) {
	                if(! this.farmList[i].selected) {
	                    this.allChecked = false;
	                    return;
	                } else {
	                    this.allChecked = true;
	                }
	            }
	        },
    		//  조회 버튼
	    	selectList: function() {
	    		pagination.common.curPage = 0;   // mariadb = 0, mssql = 1
	    		this.param.curPage = pagination.common.curPage;
	    		this.getSearch();
	    	},
	        getSearch: function() {
	        	if(this.farmList.length > 0) this.farmList.splice(0);
	        	this.farmList = [];
	        	
	        	this.param.searchVegetFarmId = this.searchVegetFarmId;
	    	    this.param.searchUseYn = this.searchUseYn;
	    	    this.param.pageSize = pagination.common.pageSize;
	    	    this.param.curPage = pagination.common.curPage;
	    	    
	          	console.log("111111111 > " + this.param);
				axios.post('/comm/selectVegetFarmList', this.param, {
					headers: { "Content-Type": "application/json"}
		            }).then((res) => { 
		            	$(".odd").html("");
		                this.farmList = res.data.result; 
		                console.log("222222 > " + this.farmList+" : "+this.checkVal);
		                if(this.farmList.length > 0){
			                pagination.common.totalCount = this.farmList[0].totCnt;
			                pagination.pagingNavi(pagination.common, this);
		                }
		                
		                const newObj = _.cloneDeep(this.farmList);
		                this.farmListCopy = newObj; 
		                this.checkVal = [];
		                //console.log("33333333333333333 > " + this.farmListCopy[1].menuNm+" : "+checkVal);
		            }).catch((ex) => { 
		                console.log("에러", ex); 
		        });
	        },
    	  	addRow: function() {
	        	console.log("111111111 > " + this.farmList.length + " : " +this.checkVal);
	
	        	this.farmList.push(
	        			{ menuSeq: "", menuId: "", menuNm: "", useYn: "", menuLvl1: "", menuLvl2: "", menuLvl3: "", updId: "", updDtm: "", rowStatus: "C" }
	        	)
	        },
	        deleteRow: function() {
	        	if(this.checkVal.length === 0) alert("삭제할 행을 선택해주세요.");
	        	console.log("33333333333 > " +this.checkVal);
	        	for(var i=0; i < this.checkVal.length; i++) {
	       		  	console.log('array index: ' + this.checkVal[i]);
	       			this.farmList.splice(this.checkVal[i], 1);
	       		}
	        },
	        setSave: function() {
	        	//if(this.checkVal.length === 0) {alert("저장할 대상을 선택해주세요."); return false;}
	        	//this.farmList = [];
	          	console.log("111111111 > " + this.farmList.length + " : " +this.farmList.filter(menu => menu.rowStatus === "C") + " : " +this.checkVal);
	          	const data = {
	          			list: this.farmList.filter(menu => menu.rowStatus === "C" || menu.rowStatus === "U")
	          		  , menuId: this.mnuId
	          	}
	          	console.log(data);
				axios.post("/comm/saveVegetFarm", data, {
					headers: { "Content-Type": "application/json"}
		        }).then((res) => { 
		                console.log("222222 > " + res);
		                this.selectList();
		        }).catch((ex) => { 
		                console.log("에러", ex); 
		        });
	    	},
	        changePageSize: function(val){
	        	 console.log("11 >> " +val+" : "+this.farmList[0]);
	        	if(pagination.onChange(val, this.farmList[0].menuSeq)){
	        		this.getSearch();
	        	}
	    	 },
	    	 watch: function(idx){
	    		const frtVal = this.farmListCopy;
	   			const changeVal = this.farmList;
	   			console.log("111111111111111111 >> "+idx+" : "+frtVal[idx].menuLvl2+" : "+changeVal[idx].menuLvl2);
           	//for(var t=0; t<changeVal.length; t++){
           		if(changeVal[idx].rowStatus != "C" 
           				&& frtVal[idx].menuSeq === changeVal[idx].menuSeq){
           			//console.log(idx+" : "+frtVal[idx].menuNm+" : "+changeVal[idx].menuNm+" : "+frtVal[idx].menuSeq === changeVal[idx].menuSeq);
           			if(frtVal[idx].compId != changeVal[idx].compId){
           				this.farmList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuId != changeVal[idx].menuId){
           				this.farmList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuNm != changeVal[idx].menuNm){
           				this.farmList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].useYn != changeVal[idx].useYn){
           				this.farmList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuLvl1 != changeVal[idx].menuLvl1){
           				this.farmList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuLvl2 != changeVal[idx].menuLvl2){
           				this.farmList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuLvl3 != changeVal[idx].menuLvl3){
           				this.farmList[idx].rowStatus = "U";
	            	}else{
	            			this.farmList[idx].rowStatus = "";
	            	}
           		}
//	    	}
      		},
	    	init: function(){
				location.reload(true);
	    	}
      	}     
      });
  </script>
</div>
</html>