<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>메뉴관리</title>
</head>
<div layout:fragment="content" th:remove="tag">
  <!-- page content -->
  <div class="right_col" role="main" id="COM001M" style="margin-top:0px;padding: 60px 20px 0;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>공통코드 관리</h3>
        </div>
        <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;margin-right: 70px;"></div>
        <div class="col-md-3 col-sm-12 right_aling;" style="margin-bottom: 0px;">
	        <div class="text-right">
	          <button type="button" class="btn btn-secondary" @click="selectList">조회</button>
	          <button type="button" class="btn btn-secondary" @click="setSave">저장</button>
	         </div> 
         </div>
      </div>

      <div class="x_panel">
        <div class="x_content" style="padding: 0 3px 0px;">
		  <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="second-name">언어선택</label>
              <div class="col-md-9 col-sm-9">
              	<select id="searchLang" class="form-control src_small" v-model="searchLang">
					<option v-for="select in langList" :value="select.code">{{ select.value }}</option>
				</select>
              </div>
            </div>
          </div>
		  <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3" for="first-name">그룹코드 / 명 <!-- <span class="required">*</span> --></label>
              <div class="col-md-9 col-sm-9 ">
                <input type="text" id="searchGrpCd" required="required" class="form-control"  v-model="searchGrpCd">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3" for="first-name">공통코드 / 명 <!-- <span class="required">*</span> --></label>
              <div class="col-md-9 col-sm-9 ">
                <input type="text" id="searchComCd" required="required" class="form-control"  v-model="searchComCd">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="second-name">사용여부</label>
              <div class="col-md-9 col-sm-9">
              	<select id="searchUseYn" class="form-control src_small" v-model="searchUseYn">
					<option v-for="select in useYn" :value="select.code">{{ select.value }}</option>
				</select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 col-sm-12 " style="padding-right: 5px;padding-left: 5px;">
        <div class="x_panel">
          <div class="x_title" style="border-bottom: 0px;">
            <h2>그룹코드 내역 {{comList.length}} 건</h2>
            <ul class="nav navbar-right panel_toolbox">
              <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"></a></li>-->
              <li><button type="button" class="btn btn-secondary" @click="addRow">+</button></li>
              <li><button type="button" class="btn btn-secondary" @click="deleteRow">-</button></li>
              <li><button type="button" class="btn btn-secondary" @click="init">초기화</button></li>
            </ul>
           <!-- <div class="clearfix"></div>-->
          </div>
          <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive">
                  	<!--<div class="col-sm-5">
	                  <div id="datatable-checkbox_info">총건수 : {{comList.length}} 건</div>
	                </div>-->
                    <table id="comMng" class="table table-striped table-bordered" style="width:100%;">
                      <thead>
                        <tr>
						  <th class="th_small" style="width:2%;">No.</th>
                          <th class="th_small" style="width:2%;">상태</th>
                          <th class="th_small" style="width:2%;"><input type="checkbox" v-model="allChecked" @click="checkedAll($event.target.checked)"></th>
                          <th class="th_middle">언어</th>
                          <th class="th_large">그룹코드</th>
                          <th class="th_large">그룹명</th>
                          <th class="th_large">그룹설명</th>
                          <th class="th_middle">사용여부</th>
                          <th class="th_large">등록자</th>
                          <th class="th_large">등록일시</th>
                          <th class="th_large">수정자</th>
                          <th class="th_large">수정일시</th>
                        </tr>
                      </thead>
                      <tbody style="height: 150px;">
                        <tr v-for="(row, index) in comList">
                          <td class="td_small" style="vertical-align: middle;width:2.5%;">{{ param.curPage + index + 1 }}</td>
                          <td class="td_small" style="width:2.22%;">{{ row.rowStatus == 'R' || row.rowStatus == '' ? '' : row.rowStatus }}</td>
                          <td class="td_small" style="vertical-align: middle;width:2.2%;">
							  <input type="checkbox" :id="'check_' + row.cropSeq" :value="row.cropSeq" v-model="row.selected" @change="selected($event)">
						  </td>
						  <td class="td_middle"><input type="text" id="langFlg" v-model="row.langFlg" class="form-control center_aling" @blur="watch(index)"/></td>
                      	  <td class="td_large"><input type="text" id="grpCd" v-model="row.grpCd" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large left_aling"><input type="text" id="grpNm" v-model="row.grpNm" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large left_aling"><input type="text" id="grpDesc" v-model="row.grpDesc" class="form-control" @blur="watch(index)"/></td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.regId }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.regDtm }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updId }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updDtm }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--<div class="row">
                <div class="col-sm-5">
					<div class="dataTables_length" style="margin-top: -3px;">
						<label>Show 
							<select aria-controls="datatable" class="form-control input-sm" style="width: auto;display: inherit;height: auto;" 
								@change="changePageSize(selectVal)" v-model="selectVal">
								<option :value="5">5</option>
								<option :value="10">10</option>
								<option :value="25">25</option>
								<option :value="50">50</option>
								<option :value="100">100</option>
							</select>
						</label>
					</div> 
				</div>
                <div class="col-sm-7" ref="paging"></div>
              </div>-->
            </div>
        </div>
      </div>
      
      <div class="col-md-12 col-sm-12 " style="padding-right: 5px;padding-left: 5px;">
        <div class="x_panel">
          <div class="x_title" style="border-bottom: 0px;">
            <h2>공통코드 상세내역  {{comDtlList.length}} 건</h2>
            <ul class="nav navbar-right panel_toolbox">
              <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"></a></li>-->
              <li><button type="button" class="btn btn-secondary" @click="addDtlRow">+</button></li>
              <li><button type="button" class="btn btn-secondary" @click="deleteDtlRow">-</button></li>
              <li><button type="button" class="btn btn-secondary" @click="initDtl">초기화</button></li>
            </ul>
           <!-- <div class="clearfix"></div>-->
          </div>
          <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive">
                  	<!--<div class="col-sm-5">
	                  <div id="datatable-checkbox_info">총건수 : {{comList.length}} 건</div>
	                </div>-->
                    <table id="comMng" class="table table-striped table-bordered" style="width:100%;">
                      <thead>
                        <tr>
						  <th class="th_small" style="width:2%;">No.</th>
                          <th class="th_small" style="width:2%;">상태</th>
                          <th class="th_small" style="width:2%;"><input type="checkbox" v-model="allChecked" @click="checkedAll($event.target.checked)"></th>
                          <th class="th_middle">언어</th>
                          <th class="th_large">그룹코드</th>
                          <th class="th_large">그룹명</th>
                          <th class="th_large">그룹설명</th>
                          <th class="th_middle">사용여부</th>
                          <th class="th_large">등록자</th>
                          <th class="th_large">등록일시</th>
                          <th class="th_large">수정자</th>
                          <th class="th_large">수정일시</th>
                        </tr>
                      </thead>
                      <tbody style="height: 200px;">
                        <tr v-for="(row, index) in comList">
                          <td class="td_small" style="vertical-align: middle;width:2.5%;">{{ param.curPage + index + 1 }}</td>
                          <td class="td_small" style="width:2.22%;">{{ row.rowStatus == 'R' || row.rowStatus == '' ? '' : row.rowStatus }}</td>
                          <td class="td_small" style="vertical-align: middle;width:2.2%;">
							  <input type="checkbox" :id="'check_' + row.cropSeq" :value="row.cropSeq" v-model="row.selected" @change="selected($event)">
						  </td>
						  <td class="td_middle"><input type="text" id="langFlg" v-model="row.langFlg" class="form-control center_aling" @blur="watch(index)"/></td>
                      	  <td class="td_large"><input type="text" id="grpCd" v-model="row.grpCd" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large left_aling"><input type="text" id="grpNm" v-model="row.grpNm" class="form-control center_aling" @blur="watch(index)"/></td>
                          <td class="td_large left_aling"><input type="text" id="grpDesc" v-model="row.grpDesc" class="form-control" @blur="watch(index)"/></td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.regId }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.regDtm }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updId }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updDtm }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
					<div class="dataTables_length" style="margin-top: -3px;">
						<label>Show 
							<select aria-controls="datatable" class="form-control input-sm" style="width: auto;display: inherit;height: auto;" 
								@change="changePageSize(selectVal)" v-model="selectVal">
								<option :value="5">5</option>
								<option :value="10">10</option>
								<option :value="25">25</option>
								<option :value="50">50</option>
								<option :value="100">100</option>
							</select>
						</label>
					</div> 
				</div>
                <div class="col-sm-7" ref="paging"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  const COM001M = new Vue ({
      el: "#COM001M",
      data: {
        comList: [],
        comListCopy: [],
        comDtlList: [],
        comDtlListCopy: [],
        checkVal: [],
        result: [],
        allChecked : false,
        mnuId: "COM001M",
        menuId: "",
        searchGrpCd: "",
        searchComCd: "",
        searchUseYn: "",
        searchLang: "",
        useYn: [
        	 {value: "전체", code: ""}
        	,{value: "사용", code: "Y"}
        	,{value: "미사용", code: "N"}
        ],
        langList: [
        	 {value: "전체", code: ""}
        	,{value: "한국어", code: "KO"}
        	,{value: "영어", code: "EN"}
        ],
        param: {},
        selectVal: "10",
        selectDtlVal: "10"
      },
      computed: {
      },
      mounted() {
      	this.param.menuId = this.mnuId;
		this.param.searchComCd = this.searchComCd;
	    this.param.searchUseYn = this.searchUseYn;
	    this.param.searchLang = this.searchLang;
	    this.param.pageSize = pagination.common.pageSize;
	    this.param.curPage = pagination.common.curPage;
      },
      methods: {
		  	checkedAll(checked) {
	            this.allChecked = checked
	            for (let i in this.comList) {
	                this.comList[i].selected = this.allChecked;
	            }
	        },
	        selected (e) {
	            for (let i in this.comList) {
	                if(! this.comList[i].selected) {
	                    this.allChecked = false;
	                    return;
	                } else {
	                    this.allChecked = true;
	                }
	            }
	        },
    		//  조회 버튼
	    	selectList: function() {
	    		pagination.common.curPage = 0;   // mariadb = 0, mssql = 1
	    		this.param.curPage = pagination.common.curPage;
	    		this.getSearch();
	    	},
	        getSearch: function() {
	        	if(this.comList.length > 0) this.comList.splice(0);
	        	this.comList = [];
	        	
	        	this.param.searchComCd = this.searchComCd;
	    	    this.param.searchUseYn = this.searchUseYn;
	    	    this.param.pageSize = pagination.common.pageSize;
	    	    this.param.curPage = pagination.common.curPage;
	    	    
	          	console.log("111111111 > " + this.param);
				axios.post('/comm/selectComMstList', this.param, {
					headers: { "Content-Type": "application/json"}
		            }).then((res) => { 
		            	$(".odd").html("");
		                this.comList = res.data.result; 
		                console.log("222222 > " + this.comList+" : "+this.checkVal);
		                if(this.comList.length > 0){
			                pagination.common.totalCount = this.comList[0].totCnt;
			                pagination.pagingNavi(pagination.common, this);
		                }
		                
		                const newObj = _.cloneDeep(this.comList);
		                this.comListCopy = newObj; 
		                this.checkVal = [];
		                //console.log("33333333333333333 > " + this.comListCopy[1].comNm+" : "+checkVal);
		            }).catch((ex) => { 
		                console.log("에러", ex); 
		        });
	        },
    	  	addRow: function() {
	        	console.log("111111111 > " + this.comList.length + " : " +this.checkVal);
	        	this.comList.push(
	        			{ comSeq: "", comCd: "", comNm: "", comLvl1: "", comLvl2: "", comLvl3: "",useYn: "",  updId: "", updDtm: "", rowStatus: "C" }
	        	)
	        },
	        deleteRow: function() {
	        	if(this.checkVal.length === 0) alert("삭제할 행을 선택해주세요.");
	        	console.log("33333333333 > " +this.checkVal);
	        	for(var i=0; i < this.checkVal.length; i++) {
	       		  	console.log('array index: ' + this.checkVal[i]);
	       			this.comList.splice(this.checkVal[i], 1);
	       		}
	        },
	        setSave: function() {
	        	//if(this.checkVal.length === 0) {alert("저장할 대상을 선택해주세요."); return false;}
	        	//this.comList = [];
	          	console.log("111111111 > " + this.comList.length + " : " +this.comList.filter(com => com.rowStatus === "C") + " : " +this.checkVal);
	          	const data = {
	          			list: this.comList.filter(com => com.rowStatus === "C" || com.rowStatus === "U")
	          		  , comCd: this.mnuId
	          	}
	          	console.log(data);
				axios.post("/comm/saveCom", data, {
					headers: { "Content-Type": "application/json"}
		        }).then((res) => { 
		                console.log("222222 > " + res);
		                this.selectList();
		        }).catch((ex) => { 
		                console.log("에러", ex); 
		        });
	    	},
	        changePageSize: function(val){
	        	 console.log("11 >> " +val+" : "+this.comList[0]);
	        	if(pagination.onChange(val, (this.comList[0] == null || this.comList[0] == undefined) ? 0 : this.comList[0].comSeq)){
	        		this.getSearch();
	        	}
	    	 },
	    	 watch: function(idx){
	    		const frtVal = this.comListCopy;
	   			const changeVal = this.comList;
	   			console.log("111111111111111111 >> "+idx+" : "+frtVal[idx].comLvl2+" : "+changeVal[idx].comLvl2);
           	//for(var t=0; t<changeVal.length; t++){
           		if(changeVal[idx].rowStatus != "C" 
           				&& frtVal[idx].comSeq === changeVal[idx].comSeq){
           			//console.log(idx+" : "+frtVal[idx].comNm+" : "+changeVal[idx].comNm+" : "+frtVal[idx].comSeq === changeVal[idx].comSeq);
           			if(frtVal[idx].compId != changeVal[idx].compId){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].comCd != changeVal[idx].comCd){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].comNm != changeVal[idx].comNm){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].upprComId != changeVal[idx].upprComId){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].useYn != changeVal[idx].useYn){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].comLvl1 != changeVal[idx].comLvl1){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].comLvl2 != changeVal[idx].comLvl2){
           				this.comList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].comLvl3 != changeVal[idx].comLvl3){
           				this.comList[idx].rowStatus = "U";
	            	}else{
	            			this.comList[idx].rowStatus = (changeVal[idx].rowStatus == "R") ? "" : changeVal[idx].rowStatus;
	            	}
           		}
//	    	}
      		},
	    	init: function(){
				location.reload(true);
	    	}
      	}     
      });
  </script>
</div>
</html>
