<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>메뉴관리</title>
  <style type="text/css">
  	.table td {
	    padding: 0.25rem;
	}
	tbody, thead tr { display: block; }
 
	tbody {
	    height: 475px;
	    overflow-y: auto;
	    overflow-x: hidden;
	}
	tbody td, thead th {
	    width: 200px;
	}
	.th_small {
		width: 50px;
	}
	.th_middle {
		width: 100px;
	}
	.th_large {
		width: 300px;
	}
	.td_small {
		width: 50px;
	}
	.td_middle {
		width: 100px;
	}
	.td_large {
		width: 300px;
	}
  </style>
</head>
<div layout:fragment="content" th:remove="tag">
  <!-- page content -->
  <div class="right_col" role="main" id="MENU001M" style="margin-top:0px;padding: 60px 20px 0;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>메뉴관리</h3>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_content" style="padding: 0 3px 0px;">
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3" for="first-name">메뉴 ID / 명 <!-- <span class="required">*</span> --></label>
              <div class="col-md-9 col-sm-9 ">
                <input type="text" id="searchMenuId" required="required" class="form-control"  v-model="searchMenuId">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="form-group row" style="margin-bottom: 0px;">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="second-name">사용여부</label>
              <div class="col-md-9 col-sm-9">
              	<select id="searchUseYn" class="form-control" v-model="searchUseYn">
					<option v-for="select in useYn" :value="select.code">{{ select.value }}</option>
				</select>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;"></div>
          <div class="col-md-3 col-sm-12" style="margin-bottom: 0px;">
            <div class="text-right">
              <button type="button" class="btn btn-secondary" @click="selectList">조회</button>
              <button type="button" class="btn btn-secondary" @click="setSave">저장</button>
            </div> 
          </div>
        </div>
      </div>


      <div class="col-md-12 col-sm-12 " style="padding-right: 5px;padding-left: 5px;">
        <div class="x_panel">
          <div class="x_title">
            <h2>조회</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"></a></li>
              <li><button type="button" class="btn btn-secondary" @click="addRow">+</button></li>
              <li><button type="button" class="btn btn-secondary" @click="deleteRow">-</button></li>
              <li><button type="button" class="btn btn-secondary" @click="init">초기화</button></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive">
                  	<div class="col-sm-5">
	                  <div id="datatable-checkbox_info">총건수 : {{menuList.length}} 건</div>
	                </div>
                    <table id="menuMng" class="table table-striped table-bordered" style="width:100%;text-align: center;">
                      <thead>
                        <tr>
                          <th class="th_small"></th>
                          <th class="th_small"><input type="checkbox" id="check-all" v-model="checkVal"></th>
                          <th class="th_small">No.</th>
                          <th class="th_large">소속아이디</th>
                          <th class="th_large">메뉴아이디</th>
                          <th class="th_large">메뉴명</th>
                          <th class="th_middle">사용여부</th>
                          <th class="th_middle">레벨1</th>
                          <th class="th_middle">레벨2</th>
                          <th class="th_middle">레벨3</th>
                          <th class="th_large">등록자</th>
                          <th class="th_large">등록일시</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(row, index) in menuList">
                          <td class="td_small" style="vertical-align: middle;">{{ row.rowStatus == 'R' || row.rowStatus == '' ? '' : row.rowStatus }}</td>
                          <td class="td_small" style="vertical-align: middle;"><input type="checkbox" id="check" v-model="checkVal[index]" true-value="Y" false-value="N"></td>
                      	  <td class="td_small" style="vertical-align: middle;">{{ row.menuSeq }}</td>
                      	  <td class="td_large"><input type="text" id="compId" v-model="row.compId" class="form-control" @blur="watch(index)"/></td>
                          <td class="td_large"><input type="text" id="menuId" v-model="row.menuId" class="form-control" @blur="watch(index)"/></td>
                          <td class="td_large" style="text-align: left;"><input type="text" id="menuNm" v-model="row.menuNm" class="form-control" @blur="watch(index)"/></td>
                          <td class="td_middle" style="vertical-align: middle;"><input type="checkbox" id="useYn" v-model="row.useYn"  @change="watch(index)" true-value="Y" false-value="N"/></td>
                          <td class="td_middle" style="vertical-align: middle;"><input type="checkbox" id="menuLvl1" v-model="row.menuLvl1"  @change="watch(index)" true-value="Y" false-value="N"/></td>
                          <td class="td_middle" style="vertical-align: middle;"><input type="checkbox" id="menuLvl2" v-model="row.menuLvl2"  @change="watch(index)" true-value="Y" false-value="N"/></td>
                          <td class="td_middle" style="vertical-align: middle;"><input type="checkbox" id="menuLvl3" v-model="row.menuLvl3"  @change="watch(index)" true-value="Y" false-value="N"/></td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updId }}</td>
                          <td class="td_large" style="vertical-align: middle;">{{ row.updDtm }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
					<div class="dataTables_length" style="margin-top: -3px;">
						<label>Show 
							<select aria-controls="datatable" class="form-control input-sm" style="width: auto;display: inherit;height: auto;" 
								@change="changePageSize(selectVal)" v-model="selectVal">
								<option :value="5">5</option>
								<option :value="10">10</option>
								<option :value="25">25</option>
								<option :value="50">50</option>
								<option :value="100">100</option>
							</select>
						</label>
					</div> 
				</div>
                <div class="col-sm-7" ref="paging"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  const MENU001M = new Vue ({
      el: "#MENU001M",
      data: {
        menuList: [
         /*  {menuId: "USR000M", menuNm: "사용자", menuLvl: 1, useYn: "Y", updId: "user", updDtm: ""
            , subMenu: [
                  {menuId: "USR001M", menuNm: "사용자관리", menuLvl: 2, useYn: "Y", updId: "user", updDtm: ""}
                , {menuId: "USR002M", menuNm: "사용자권한관리", menuLvl: 2, useYn: "Y", updId: "user", updDtm: ""}
              ]
          },
          {menuId: "SYS000M", menuNm: "시스템", menuLvl: 1, useYn: "Y", updId: "user", updDtm: ""
            , subMenu: [
                  {menuId: "MNU001M", menuNm: "메뉴관리", menuLvl: 2, useYn: "Y", updId: "user", updDtm: ""}
                , {menuId: "MNU002M", menuNm: "메뉴권한관리", menuLvl: 2, useYn: "Y", updId: "user", updDtm: ""}
              ]
          } */
        ],
        menuListCopy: [],
        checkVal: [],
        result: [],
        mnuId: "MNU001",
        menuId: "",
        searchMenuId: "",
        searchUseYn: "",
        useYn: [
        	 {value: "전체", code: ""}
        	,{value: "사용", code: "Y"}
        	,{value: "미사용", code: "N"}
        ],
        param: {
					menuId: this.mnuId
				  , searchMenuId: this.searchMenuId
      		      , searchUseYn: this.searchUseYn
      		      , pageSize: pagination.common.pageSize
      		      , curPage: pagination.common.curPage
          	  	},
        selectVal: "10"
      },
      computed: {
      },
      methods: {
    	//  조회 버튼
	    	selectList: function() {
	    		pagination.common.curPage = 1;   // mariadb = 0, mssql = 1
	    		this.getSearch();
	    	},
	        getSearch: function() {
	        	this.menuList.splice(1,1);
	        	this.menuList = [];
	          	console.log("111111111 > " + this.searchMenuId);
				axios.post('/comm/menuList', this.param, {
					headers: { "Content-Type": "application/json"}
		            }).then((res) => { 
		            	$(".odd").html("");
		                this.menuList = res.data; 
		                console.log("222222 > " + this.menuList+" : "+this.checkVal);
		                if(this.menuList.length > 0){
			                pagination.common.totalCount = this.menuList[0].totCnt;
			                pagination.pagingNavi(pagination.common, this);
		                }
		                
		                const newObj = _.cloneDeep(this.menuList);
		                this.menuListCopy = newObj; 
		                this.checkVal = [];
		                //console.log("33333333333333333 > " + this.menuListCopy[1].menuNm+" : "+checkVal);
		            }).catch((ex) => { 
		                console.log("에러", ex); 
		        });
	        },
    	  	addRow: function() {
	        	console.log("111111111 > " + this.menuList.length + " : " +this.checkVal);
	
	        	this.menuList.push(
	        			{ menuSeq: "", menuId: "", menuNm: "", useYn: "", menuLvl1: "", menuLvl2: "", menuLvl3: "", updId: "", updDtm: "", rowStatus: "C" }	
	        	)
	        },
	        deleteRow: function() {
	        	if(this.checkVal.length === 0) alert("삭제할 행을 선택해주세요.");
	        	console.log("33333333333 > " +this.checkVal);
	        	for(var i=0; i < this.checkVal.length; i++) {
	       		  	console.log('array index: ' + this.checkVal[i]);
	       			this.menuList.splice(this.checkVal[i], 1);
	       		}
	        },
	        setSave: function() {
	        	if(this.checkVal.length === 0) alert("저장할 대상을 선택해주세요.");
	        	//this.menuList = [];
	          	//console.log("111111111 > " + this.menuList.length + " : " +this.menuList.filter(menuList => menuList.rowStatus === "C") + " : " +this.checkVal);
	          	const data = this.menuList.filter(menuList => menuList.rowStatus === "C" || menuList.rowStatus === "U");
	          	console.log(data);
				axios.post("/menu/menuSave", data, {
					headers: { "Content-Type": "application/json"}
		        }).then((res) => { 
		                console.log("222222 > " + res);
		                this.selectList();
		        }).catch((ex) => { 
		                console.log("에러", ex); 
		        });
	    	},
	        changePageSize: function(val){
	        	 //console.log("11 >> " +val);
	        	if(pagination.onChange(val, this.menuList[0].menuSeq)){
	        		this.getSearch();
	        	}
	    	 },
	    	 watch: function(idx){
	    		const frtVal = this.menuListCopy;
	   			const changeVal = this.menuList;
	   			console.log("111111111111111111 >> "+idx+" : "+frtVal[idx].menuLvl2+" : "+changeVal[idx].menuLvl2);
           	//for(var t=0; t<changeVal.length; t++){
           		if(changeVal[idx].rowStatus != "C" 
           				&& frtVal[idx].menuSeq === changeVal[idx].menuSeq){
           			//console.log(idx+" : "+frtVal[idx].menuNm+" : "+changeVal[idx].menuNm+" : "+frtVal[idx].menuSeq === changeVal[idx].menuSeq);
           			if(frtVal[idx].menuId != changeVal[idx].menuId){
           				this.menuList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuNm != changeVal[idx].menuNm){
           				this.menuList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].useYn != changeVal[idx].useYn){
           				this.menuList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuLvl1 != changeVal[idx].menuLvl1){
           				this.menuList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuLvl2 != changeVal[idx].menuLvl2){
           				this.menuList[idx].rowStatus = "U";
	            	}else if(frtVal[idx].menuLvl3 != changeVal[idx].menuLvl3){
           				this.menuList[idx].rowStatus = "U";
	            	}else{
	            			this.menuList[idx].rowStatus = "";
	            	}
           		}
//	    	}
      		},
	    	init: function(){
				location.reload(true);
	    	}
      	}     
      });
  </script>
</div>
</html>