<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
	<title>left</title>
</head>
<th:block th:fragment="left">
    <!-- left navigation -->
    <div class="col-md-3 left_col" id="leftMenu">
       <div class="left_col scroll-view">
         <div class="navbar nav_title" style="border: 0;">
           <a th:href="@{/}" class="site_title"><i class="fa fa-laptop"></i> <span>J.J.PlatForm</span></a>
         </div>

         <div class="clearfix"></div>

         <!-- menu profile quick info -->
         <div class="profile clearfix">
           <div class="profile_pic">
             <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
           </div>
           <div class="profile_info">
             <span>Welcome,</span>
             <h2><span sec:authentication="Principal.userVo.userId"></span></h2>
           </div>
         </div>
         <!-- /menu profile quick info -->

         <br />

         <!-- sidebar menu -->
         <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
           <div class="menu_section">
             <h3><span sec:authentication="Authorities"></span></h3>
             <ul class="nav side-menu">
               <li v-for="menu in menuList" :class="isActive"><a><i class="fa " :class="getClass(menu.menuId)"></i> {{ menu.menuNm }} <span class="fa fa-chevron-down"></span></a>
                 <ul class="nav child_menu">
                   <li v-for="sub in menu.subMenu"><a href="javascript:void(0)" :href="sub.menuId">{{ sub.menuNm }}</a></li>
                   <!-- <li v-for="sub in menu.subMenu"><a @click="move(sub.menuId)">{{ sub.menuNm }}</a></li> -->
                 </ul>
               </li>
             </ul>
           </div>
         </div>
         <!-- /sidebar menu -->

         <!-- /menu footer buttons -->
         <div class="sidebar-footer hidden-small">
           <a data-toggle="tooltip" data-placement="top" title="Settings">
             <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           </a>
           <a data-toggle="tooltip" data-placement="top" title="FullScreen">
             <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
           </a>
           <a data-toggle="tooltip" data-placement="top" title="Lock">
             <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
           </a>
           <a data-toggle="tooltip" data-placement="top" title="Logout" th:href="@{/logout}">
             <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
           </a>
         </div>
         <!-- /menu footer buttons -->
       </div>
     </div>
     <script>
      const leftMenu = new Vue({
        el: "#leftMenu",
        data: {
          menuList: [
            {menuId: "SYS000M", menuNm: "시스템", level: 1, useYn: "Y", updId: "user", updDtm: ""
              , subMenu: [
                    {menuId: "MNU001M", menuNm: "메뉴관리", level: 2, useYn: "Y", updId: "user", updDtm: ""}
                ]
            },
            {menuId: "USR000M", menuNm: "사용자", level: 1, useYn: "Y", updId: "user", updDtm: ""
              , subMenu: [
                    {menuId: "USR001M", menuNm: "사용자관리", level: 2, useYn: "Y", updId: "user", updDtm: ""}
                  , {menuId: "USR002M", menuNm: "사용자권한관리", level: 2, useYn: "Y", updId: "user", updDtm: ""}
                ]
            },
            {menuId: "SVC000M", menuNm: "서비스", level: 1, useYn: "Y", updId: "user", updDtm: ""
              , subMenu: [
                    {menuId: "SVC001M", menuNm: "서비스등록", level: 2, useYn: "Y", updId: "user", updDtm: ""}
                ]
            },
            {menuId: "ITM000M", menuNm: "제품", level: 1, useYn: "Y", updId: "user", updDtm: ""
                , subMenu: [
                      {menuId: "ITM001M", menuNm: "제품등록", level: 2, useYn: "Y", updId: "user", updDtm: ""}
                  ]
              }
          ],
          isActive: ""
        },
        computed: {
          //  getClass(menuId) {
          //   console.log("111111111 > " + menuId);
          //   return menuId == 'USER000M' ? 'fa fa-user' : 'fa fa-bars';
          // }
        },
        mounted: {
        	//console.log("111111111 > " +" : "+this.isActive);
        },
        methods: {
          move(id){
            // console.log("111111111 > " + id + " : " +$("[role='main']").html());
            // ajax option

            // var ajaxOption = {
            //         url : "/com/"+id,
            //         async : true,
            //         type : "GET",
            //         dataType : "html",
            //         cache : false
            // };

            // $.ajax(ajaxOption).done(function(data){
              // console.log("222222 > " + id + " : " +$("[role='main']").children().html());
                // Contents 영역 삭제
                // $("[role='main']").children().remove();
                // console.log("333333 > " + id + " : " +data);
                // Contents 영역 교체
                // var contents = $("div[role='main']").html(data);
                // $("div[role='main']").html(data);
                // contents.trigger("create");
                // .on method
                // $(document).on("click", "div[role='main']", eventFunction);
            // });
            
//              window.location.href = "/com/"+id;
              window.location.href = "/"+id;
          },
          getClass(menuId) {
            console.log("111111111 > " + menuId);
            this.isActive == "active" ? "" : "active";
            /* $(".nav.side-menu > li").attr("class","active");
            $(".nav.side-menu > li > ui").hide(); */
            return menuId == 'USER000M' ? 'fa-user' : menuId == 'SYS000M' ? 'fa-bars' : 'fa-file';
          }
        }     
       });
    </script>
</th:block>
</html>
