<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
	<title>left</title>
</head>
<th:block th:fragment="left">
    <!-- left navigation -->
    <div class="col-md-3 left_col" id="leftMenu">
       <div class="left_col scroll-view">
         <div class="navbar nav_title" style="border: 0;">
           <a th:href="@{/}" class="site_title"><i class="fa fa-laptop"></i> <span>J.J.PlatForm</span></a>
         </div>

         <div class="clearfix"></div>

         <!-- menu profile quick info -->
         <div class="profile clearfix">
           <div class="profile_pic">
             <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
           </div>
           <div class="profile_info">
             <span>Welcome,</span>
             <h2><span sec:authentication="Principal.userVo.userId"></span></h2>
           </div>
         </div>
         <!-- /menu profile quick info -->

         <br />

         <!-- sidebar menu -->
         <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
           <div class="menu_section">
             <h3><span sec:authentication="Authorities"></span></h3>
             <ul class="nav side-menu">
               <li v-for="menu in menuList" :class="isActive">
               	<a v-if="menu.menuLvl1 === 'Y'">
               		<i class="fa " :class="getClass(menu.menuId)"></i> {{ menu.menuNm }} <span class="fa fa-chevron-down"></span>
               	</a>
                <ul class="nav child_menu">
                   <li v-for="sub in menuList" v-if="sub.menuLvl2 === 'Y' && menu.menuId === sub.upprMenuId"><a href="javascript:void(0)" :href="'/move/'+sub.menuId">{{ sub.menuNm }}</a></li>
                <!-- <ul class="nav child_menu" :style="menu.menuId === this.menuId ? 'display:block' : 'display:none'"> -->
                   <!-- <li v-for="sub in menuList" v-if="sub.menuLvl2 === 'Y' && menu.menuId === sub.upprMenuId"><a @click="move(sub.menuId, sub.upprMenuId)">{{ sub.menuNm }}</a></li> -->
                </ul>
               </li>
             </ul>
           </div>
         </div>
         <!-- /sidebar menu -->

         <!-- /menu footer buttons -->
         <div class="sidebar-footer hidden-small">
           <a data-toggle="tooltip" data-placement="top" title="Settings">
             <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
           </a>
           <a data-toggle="tooltip" data-placement="top" title="FullScreen">
             <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
           </a>
           <a data-toggle="tooltip" data-placement="top" title="Lock">
             <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
           </a>
           <a data-toggle="tooltip" data-placement="top" title="Logout" th:href="@{/logout}">
             <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
           </a>
         </div>
         <!-- /menu footer buttons -->
       </div>
     </div>
     <script>
      const leftMenu = new Vue({
        el: "#leftMenu",
        data: {
          menuList: [],
          isActive: "",
          menuId: "",
          mnuId: "leftMenu",
          param: {}
        },
        //computed: {
          //  getClass(menuId) {
          //   console.log("111111111 > " + menuId);
          //   return menuId == 'USER000M' ? 'fa fa-user' : 'fa fa-bars';
          // }
        //},
        mounted() {
        	this.param.menuId = this.mnuId;
        	console.log("111111111 >  : "+this.param.menuId);
        	this.comList();
        	/* this.menuList = [
				                {menuId: "SYS000M", menuNm: "시스템", level: 1, useYn: "Y", updId: "user", updDtm: ""
				                  , subMenu: [
				                        {menuId: "MNU001M", menuNm: "메뉴관리", level: 2, useYn: "Y", updId: "user", updDtm: ""}
				                    ]
				                },
				                {menuId: "USR000M", menuNm: "사용자", level: 1, useYn: "Y", updId: "user", updDtm: ""
				                  , subMenu: [
				                        {menuId: "USR001M", menuNm: "사용자관리", level: 2, useYn: "Y", updId: "user", updDtm: ""}
				                      , {menuId: "USR002M", menuNm: "사용자권한관리", level: 2, useYn: "Y", updId: "user", updDtm: ""}
				                    ]
				                },
				                {menuId: "SVC000M", menuNm: "서비스", level: 1, useYn: "Y", updId: "user", updDtm: ""
				                  , subMenu: [
				                        {menuId: "SVC001M", menuNm: "서비스등록", level: 2, useYn: "Y", updId: "user", updDtm: ""}
				                    ]
				                },
				                {menuId: "ITM000M", menuNm: "제품", level: 1, useYn: "Y", updId: "user", updDtm: ""
				                    , subMenu: [
				                          {menuId: "ITM001M", menuNm: "제품등록", level: 2, useYn: "Y", updId: "user", updDtm: ""}
				                      ]
				                  }
				              ] */
        },
        methods: {
        	comList() {
        		console.log("111111111 > " + this.param);
        		axios.post('/comm/selectLeftMenuList', this.param, {
    				headers: { "Content-Type": "application/json"}
    	            }).then((res) => { 
    	                this.menuList = res.data.result; 
    	                console.log("222222 > " + this.menuList);
    	                //console.log("33333333333333333 > " + this.menuList[1].menuId);
    	            }).catch((ex) => { 
    	                console.log("에러", ex); 
    				});
        	}
        	,
			move(menuId,upprMenuId) {
	            console.log("22222222 > " + menuId + " : " +upprMenuId);
	            this.menuId = upprMenuId;
				location.href = "/comm/"+menuId;
			},
			getClass(menuId) {
			  //console.log("111111111 > " + menuId);
			  this.isActive == "active" ? "" : "active";
			  /* $(".nav.side-menu > li").attr("class","active");
			  $(".nav.side-menu > li > ui").hide(); */
			  return menuId == 'USER000M' ? 'fa-user' : menuId == 'SYS000M' ? 'fa-bars' : 'fa-file';
			}
		}
	});
    </script>
</th:block>
</html>
