.table td {
    padding: 0.25rem;
}
tbody, thead tr { display: block; }

tbody {
    height: 475px;
    overflow-y: auto;
    overflow-x: hidden;
}
thead th {
	width: 5%;
    vertical-align: middle;
	text-align: center;
}
tbody td {
	width: 5%;
    vertical-align: middle;
	text-align: center;
}

.src_small {
	width: 50%;
}

.sub_title{
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}

/*
.th_small {
	width: 3%;
}
.td_small {
	width: 2%;
}
	
.th_middle{
	width: 6%;
}
.th_large {
	width: 10%;
}
	
.td_middle{
	width: 6%;
}
.td_large {
	width: 10%;
} */
.center_aling {
	vertical-align: middle;
	text-align: center;
}
.left_aling {
	vertical-align: middle;
	text-align: left;
}
.right_aling {
	vertical-align: middle;
	text-align: right;
}
	
h1 {
    color: #78ab46;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
}

.left {
	position: fixed;
    top: 0;
    z-index: 1028;
}

.layout_content {
    top: 200;
}

/* footer {
    position: fixed;
    height: 35px;
    bottom: 0;
    width: 89%;
    background-color: #cccc
} */

footer p {
    padding: 15px;
}


.login_align {
    padding-top: 90px;
}

.header, .footer { overflow: hidden; position: fixed; }
.page-content { overflow: auto; }
/* .right_col {
    padding: 60px 20px 0;
    margin-left: 230px;
}
.clearfix:after {
	content: "";
	display: block;
	height: px;
	clear: both;
	visibility: hidden;
} */